:root {
  /*bg colors*/
  --main-bg-cl: #ffffff;
  --cart-border-cl: 1px solid #eeeeee;
  --header-border-cl: #ececec;
  --secondary-bg-cl: #2f303a;
  --bg-cl-hero: #c4c4c4;
  --third-bg-cl: #f5f4fa;
  --accent-cl: #2196f3;
  --accent-cl-90: rgba(33, 150, 243, 0.9);
  --main-page-btn-cl: #188ce8;
  --socials-cl: #afb1b8;
  --section-ptf-cl: #eeeeee;
  --grad-hero: rgba(47, 48, 58, 0.4);
  --bg-what-we-do: rgba(47, 48, 58, 0.8);
  --bg-overlay: rgba(0, 0, 0, 0.2);
  /*text colors */
  --main-text-cl: #212121;
  --secondary-text-cl: #757575;
  --logo-cl: #000000;
  --foter-cont-cl-60: rgba(255, 255, 255, 0.6);
  --foter-cont-cl-10: rgba(255, 255, 255, 0.1);
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  /* other */
  --main-bord-rad: 4px;
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--main-text-cl);
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.portfolio__link {
  text-decoration: none;
  color: currentColor;
  display: block;
}

.btn {
  border: none;
  cursor: pointer;
}

.address__list {
  font-style: normal;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.link {
  -webkit-transition: background-color var(--main-animation), color var(--main-animation), fill var(--main-animation), border var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation), fill var(--main-animation), border var(--main-animation);
}

.portfolio__link {
  -webkit-transition: -webkit-box-shadow var(--main-animation);
  transition: -webkit-box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation);
  transition: box-shadow var(--main-animation), -webkit-box-shadow var(--main-animation);
}

.btn {
  -webkit-transition: background-color var(--main-animation), color var(--main-animation), fill var(--main-animation), -webkit-box-shadow var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation), fill var(--main-animation), -webkit-box-shadow var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation), box-shadow var(--main-animation), fill var(--main-animation);
  transition: background-color var(--main-animation), color var(--main-animation), box-shadow var(--main-animation), fill var(--main-animation), -webkit-box-shadow var(--main-animation);
}

.agreement-checkbox__icon {
  -webkit-transition: opacity var(--main-animation), fill var(--main-animation), outline var(--main-animation);
  transition: opacity var(--main-animation), fill var(--main-animation), outline var(--main-animation);
}

.registration__coment {
  -webkit-transition: border-color var(--main-animation);
  transition: border-color var(--main-animation);
}

.registration__icon {
  -webkit-transition: fill var(--main-animation);
  transition: fill var(--main-animation);
}

.registration__input {
  -webkit-transition: border-color var(--main-animation);
  transition: border-color var(--main-animation);
}

.modal {
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.backdrop {
  -webkit-transition: opacity var(--main-animation);
  transition: opacity var(--main-animation);
}

.overlay {
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.menu-container {
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}
@media screen and (min-width: 798px) {
  .menu-container {
    -webkit-transition: none;
    transition: none;
  }
}

.header {
  border-bottom: 1px solid var(--header-border-cl);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #212121;
  margin: 0 auto 0 0;
  padding: 16px 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0 88px 0 0;
    padding: 0;
  }
}

.nav {
  margin: 0 0 auto 0;
}
@media screen and (min-width: 768px) {
  .nav {
    margin: 0 auto 0 0;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
}

.nav__item:not(:last-child) {
  margin: 0 0 32px 0;
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
    padding: 32px 0;
  }
  .nav__item:not(:last-child) {
    margin: 0;
  }
}

.nav__link {
  color: var(--main-text-cl);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: none;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.nav__link--current {
  color: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .nav__link--current {
    color: var(--accent-cl);
  }
  .nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    border-radius: 2px;
    background-color: var(--accent-cl);
  }
}

.contacts__list {
  margin: 0 0 64px 0;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    margin: 21px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin: 0;
  }
}

.contacts__item:not(:last-child) {
  margin: 0 0 32px 0;
}
.contacts__item:last-child .contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (max-width: 767px) {
  .contacts__item:first-child .contacts__link {
    color: var(--accent-cl);
  }
}
@media screen and (min-width: 768px) {
  .contacts__item:not(:last-child) {
    margin: 0;
  }
  .contacts__item:last-child .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: none;
    margin: 0 0 10px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:last-child .contacts__link {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.contacts__link {
  color: var(--secondary-text-cl);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: none;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.contacts__icon {
  display: none;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
  }
}

.header-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .header-socials__list {
    display: none;
  }
}

.header-socials__item {
  position: relative;
}
.header-socials__item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.header-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--accent-cl);
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: var(--bg-cl-hero);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_sm-@1x.jpg);
  background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_sm-@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_sm-@2x.jpg);
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_sm-@2x.jpg);
  }
}
@media screen and (min-width: 576px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_md-@1x.jpg);
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_md-@1x.jpg);
  }
}
@media screen and (min-width: 576px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 576px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_md-@2x.jpg);
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_md-@2x.jpg);
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_lg-@1x.jpg);
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_lg-@1x.jpg);
    height: 600px;
  }
}
@media screen and (min-width: 960px) and (min-device-pixel-ratio: 2), screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 192dpi), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--grad-hero)), to(var(--grad-hero))), url(../images/index/hero/hero_lg-@2x.jpg);
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)), url(../images/index/hero/hero_lg-@2x.jpg);
  }
}

.hero__container {
  padding: 118px 0;
}
@media screen and (min-width: 960px) {
  .hero__container {
    padding: 200px 15px;
  }
}

.hero__title {
  color: var(--main-bg-cl);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 960px) {
  .hero__title {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.advantages {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.advantages__box-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  margin: 0 0 30px;
  border-radius: 4px;
  background-color: var(--third-bg-cl);
}

.advantages__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantages__subtitle {
    text-align: left;
  }
}

.advantages__text {
  color: var(--secondary-text-cl);
}

.practice {
  padding: 0 0 94px;
}
@media screen and (max-width: 1199px) {
  .practice {
    display: none;
  }
}

.practice__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .practice__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.practice__item {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.practice-box {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  background-color: var(--bg-what-we-do);
}

.practice-box__subtitle {
  color: var(--main-bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  padding: 60px 0;
  background-color: var(--third-bg-cl);
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.team__item {
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin: 0 0 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: none;
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.team-box {
  text-align: center;
  padding: 30px 0 24px;
}
@media screen and (min-width: 1200px) {
  .team-box {
    padding: 30px 0;
  }
}

.team-box__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: none;
  margin: 0 0 10px;
}

.team-box__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--secondary-text-cl);
  margin-bottom: 16px;
}

.team-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team-box__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--socials-cl);
  border-radius: 50%;
}
.team-box__link:hover, .team-box__link:focus {
  background-color: var(--accent-cl);
  fill: var(--main-bg-cl);
}

.clients {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid var(--socials-cl);
  border-radius: 4px;
  fill: var(--socials-cl);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-cl);
  fill: var(--accent-cl);
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.portfolio__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
  margin: 0 0 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__btn-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0 0 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__btn-list {
    margin: 0 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__link:hover .overlay, .portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-set {
  padding: 24px 20px;
  border-right: var(--cart-border-cl);
  border-bottom: var(--cart-border-cl);
  border-left: var(--cart-border-cl);
}

.portfolio-set__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  text-transform: none;
  margin-bottom: 4px;
}

.portfolio-set__text {
  color: var(--secondary-text-cl);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-transform: none;
}

.footer {
  padding: 60px 0;
  background-color: var(--secondary-bg-cl);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: unset;
  }
}

.footer__box {
  margin: 0 0 60px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin: 0;
  }
}

.footer__logo {
  color: #ffffff;
  display: block;
  margin: 0 0 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__link--map {
  color: var(--main-bg-cl);
}
.address__link--map:hover, .address__link--map:focus {
  color: var(--accent-cl);
}

.address__link {
  color: var(--foter-cont-cl-60);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-cl);
}

.socials-box {
  width: 205px;
  height: 80px;
  margin: 0 auto 60px;
}
@media screen and (min-width: 768px) {
  .socials-box {
    margin: 0;
  }
}

.socials-box__title {
  display: block;
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.socials-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.socials-box__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  fill: var(--main-bg-cl);
  background: var(--foter-cont-cl-10);
}
.socials-box__link:hover, .socials-box__link:focus {
  background-color: var(--accent-cl);
}

.follow__title {
  display: block;
  color: var(--main-bg-cl);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 20px;
}

@media screen and (min-width: 1200px) {
  .follow__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
  }
}

.follow__input {
  width: 100%;
  height: 50px;
  margin: 0 0 20px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--secondary-bg-cl);
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .follow__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .follow__input {
    width: 358px;
    margin: 0;
  }
}

.registration__title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (min-width: 1200px) {
  .registration__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.registration__box {
  margin: 0 0 20px;
}

.registration__field {
  position: relative;
  display: block;
  margin: 0 0 10px;
}
.registration__field:last-child {
  margin: 0;
}

.registration__label {
  display: block;
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--secondary-text-cl);
}

.registration__input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.registration__input:hover, .registration__input:focus {
  border-color: var(--accent-cl);
}
.registration__input:hover + .registration__icon, .registration__input:focus + .registration__icon {
  fill: var(--accent-cl);
}

.registration__icon {
  position: absolute;
  top: 50%;
  left: 15px;
}

.registration__coment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.registration__coment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.registration__coment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.registration__coment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.registration__coment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.registration__coment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.registration__coment:hover, .registration__coment:focus {
  border-color: var(--accent-cl);
}

.logo {
  text-decoration: none;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__span {
  color: var(--accent-cl);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}
.menu-btn:hover, .menu-btn:focus {
  fill: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: var(--main-bg-cl);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  pointer-events: none;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .menu-container {
    position: unset;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: unset;
    pointer-events: unset;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: unset;
  pointer-events: unset;
}

.menu-container__btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
}
.menu-container__btn:hover, .menu-container__btn:focus {
  fill: var(--accent-cl);
}
@media screen and (min-width: 768px) {
  .menu-container__btn {
    display: none;
  }
}

.hero__btn {
  background-color: var(--accent-cl);
  color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--main-bord-rad);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--main-page-btn-cl);
}
.hero__btn:active {
  background-color: var(--main-page-btn-cl);
}

.portfolio__btn {
  background-color: var(--third-bg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: var(--main-bord-rad);
  min-width: 73px;
  height: 38px;
  padding: 6px 25px;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__btn:active {
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 24px;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: var(--accent-cl-90);
}

.overlay__desc {
  color: var(--main-bg-cl);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  opacity: 1;
  background-color: var(--bg-overlay);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: relative;
  max-width: 450px;
  padding: 40px;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .modal {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-bg-cl);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--accent-cl);
}

.agreement-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 0 30px;
}

.agreement-checkbox__icon {
  margin: 0 8px 0 0;
}

.agreement-checkbox__label {
  color: var(--secondary-text-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 4px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (min-width: 1200px) {
  .agreement-checkbox__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.agreement-checkbox__link {
  display: block;
  color: var(--accent-cl);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: none;
}
@media screen and (min-width: 1200px) {
  .agreement-checkbox__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
  }
}

.agreement-checkbox__img--checked {
  fill: var(--accent-cl);
  opacity: 0;
}

.agreement-checkbox__input:focus + .agreement-checkbox__icon {
  outline: 1px solid var(--accent-cl);
  outline-offset: 1px;
  border-radius: 4px;
}
.agreement-checkbox__input:checked + .agreement-checkbox__icon .agreement-checkbox__img--checked {
  opacity: 1;
}
.agreement-checkbox__input:checked + .agreement-checkbox__icon .agreement-checkbox__img--unchecked {
  opacity: 0;
}

.registration__btn {
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: var(--main-bord-rad);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.registration__btn:hover, .registration__btn:focus {
  background-color: var(--main-page-btn-cl);
}

.follow__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-bg-cl);
  background-color: var(--accent-cl);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */