.follow {
    display: block;

    width: 570px;
    height: 86px;
}

.follow__title {
    display: block;
    margin: 0 0 20px;

    color: var(--main-bg-cl);
    @include font-standart($fw: 700, $lh: 16px, $tt: uppercase);
}

.follow__box {
    display: flex;
    gap: 10px;
}

.follow__input {
    width: 358px;
    height: 50px;

    padding: 15px;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--secondary-bg-cl);
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

