.header {
    border-bottom: 1px solid var(--header-border-cl);
   
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    @include logo-color(#212121);
    margin: 0 auto 0 0;
    padding: 16px 0;

    @media screen and (min-width: 768px){
        margin: 0 88px 0 0;
        padding: 0;
    }
}
