.header-socials__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 20px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-socials__item {
  position: relative;

  &:not(:first-child)::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;

    display: block;
    width: 1px;
    height: 22px;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.header-socials__link {
  @include font-standart($fw: 500, $fs: 18px, $lh: 22px, $ls: 0.02em);
  color: var(--accent-cl);
}
