.hero {
  max-width: 1600px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  background-color: var(--bg-cl-hero);
  background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
    url(../images/index/hero/img_sm-@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
      url(../images/index/hero/img_sm-@2x.jpg);
  }

  @media screen and(min-width: 576px) {
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
      url(../images/index/hero/img_md-@1x.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
        url(../images/index/hero/img_md-@2x.jpg);
    }
  }

  @media screen and(min-width: 960px) {
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
      url(../images/index/hero/img_lg-@1x.jpg);
    height: 600px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
        url(../images/index/hero/img_lg-@2x.jpg);
    }
  }
}

.hero__container {
  padding: 118px 0;

  @media screen and(min-width: 960px) {
    padding: 200px 15px;
  }
}

.hero__title {
  color: var(--main-bg-cl);

  @include font-standart($fw: 900, $fs: 26px, $lh: 42px, $ls: 0.06em, $tt: uppercase);

  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width: 960px) {
    max-width: 696px;
    @include font-standart($fw: 900, $fs: 44px, $lh: 60px, $ls: 0.06em, $tt: uppercase);
  }
}
