.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--bg-cl-hero);
    text-align: center;
    background-image: linear-gradient(to right, var(--grad-hero), var(--grad-hero)),
        url(../images/index/hero/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    color: var(--main-bg-cl);

    @include font-standart($fw: 900, $fs: 44px, $lh: 60px, $ls: 0.06em, $tt: uppercase);

    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}

