.socials-box {
    width: 205px;
    height: 80px;
}

.socials-box__title {
    margin-bottom: 20px;
    display: block;

    @include font-standart($fw: 700, $lh: 16px, $tt: uppercase);

    color: var(--main-bg-cl);
}

.socials-box__list {
    display: flex;
    gap: 10px;
}

.socials-box__link {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    fill: var(--main-bg-cl);
    background: var(--foter-cont-cl-10);

    &:hover,
    &:focus {
        background-color: var(--accent-cl);
    }
}